body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 0 auto;
    color:aliceblue;
    
}

.container a{
    color: white;
    background-color: rgb(194, 93, 57);
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px;
    text-decoration:none;
}
header {
    
    color: white;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.contact-info {
    display: flex;
    gap: 1em;
}

.cta-button {
    background-color: #ff4081;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
   
}

#hero {
  
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(Images/logo.png);
}

#features, #about, #services {
    padding: 2em 0;
    text-align: center;
    background-image: url(Images/option.png);
}

.feature, .service {
    margin-bottom: 2em;
}

.feature .icon {
    font-size: 3em;
}

#services .service img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
